body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

nav {
    position: fixed;
    top: 0;
    z-index: 999;
    background-color: #33333398;
    width: 100%;
}
nav a.active {
    border-bottom: 2px solid rgba(255, 255, 255, 0.547);
}

nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 20px 50px;
    position: relative;
}
  
nav ul li {
    list-style: none;
    text-transform: uppercase;
    letter-spacing: 2px;
   
}
  
nav ul li a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.547);
    font-weight: bold;
    font-size: 18px;
    transition: color 0.3s ease-in-out;
    font-size: small;
}
  
nav ul li a:hover {
    color: white;
}

.header-background{
    /* background-color: #291528; */
    /* background-image: url("/images/singing.jpeg"); */
    background-image: url("/cs008/fauna/images/singing.jpeg");
    background-size: cover;
    background-position: center;
    width: 100vw;
}
.header-image {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.header-text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
      
}
.header-text {
    text-align: center;
    color: #fff;
}
  
.header-text h1 {
    font-size: 48px;
    margin-bottom: 30px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 600;
    margin-top: 100px;
}

.header-button{
    display: flex;
    border: 2px solid white;
    width: 12em;
    height: 2.5em;
    text-align: center;
    margin-bottom: 50vh;
    justify-content: center;
    align-items: center;
}

.header-button p{
    color: white;
    text-transform: uppercase;
    letter-spacing: 2px;
}
a {
    text-decoration: none;
}
.scroll {
    color: white;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: x-small;
}


.information-container {
    display: grid;
    grid-template-rows: auto auto 1fr 1fr;
    grid-template-columns: 1fr 2fr;
    grid-template-areas: 
      "hr hr"
      "title title"
      "image text"
      "text2 image2";
    gap: 20px;
    align-items: center;
    justify-items: center;
  }
  
  
h2 {
    grid-area: title;
    justify-self: center;
    opacity: 80%;
}
  
.image-1{
    grid-area: image;
    justify-self: center;
}

.information-container figure img {
    width: 30em;
}
  
.text-1 {
    grid-area: text;
    text-align: left;
    line-height: 1.5em;
    padding-right: 5em;
    opacity: 80%;
  }
  

hr {
    margin-top: 2.5%;
    opacity: 75%;
    width: 95%;
    grid-area: hr;
}

.image-container {
    width: 150px;
    height: 150px;
    background-image: url("images/drive-thru.png");
}

.image-2 {
    grid-area: image2;
    justify-self: center;
}
.text-2{
    grid-area: text2;
    text-align: left;
    line-height: 1.5em;
    padding-left: 5em;
    opacity: 80%;
}

/* Footer */
.footer-line{
    margin-top: 2.5%;
    width: 80%;
    opacity: 75%;
  }
  footer{
    text-align: center;
    padding: 1.5%;
    opacity: 75%;
  }
  .tag{
    font-size: large;
    line-height: 1.5;
  }
  .footerLink {
    color: var(--text-color);
    text-decoration: none;
    padding: 10px;
  }
  .footerLink:hover{
    text-decoration: underline;
  }
  

  /* About page styles */

  .about{
    /* background-color: #333333de; */
    background-color: #3A3E3B;
    /* background: linear-gradient(to bottom, #291528, #3A3E3B); */
  }
  .about-header{
    height: 100vh;
    width: 50vw;
    background-image: url("/cs008/fauna/images/jack.png");
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
    z-index: 2;
  }

  .about-container{
    padding-top: 65px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
  }
  

  .about-info {
    padding: 50px;
    line-height: 1.5em;
    opacity: 85%;
    color: white;
    font-size: larger;
    text-align: center;
  }
  .about-info h1{
    text-transform: uppercase;
    letter-spacing: 2px;
   
  }

  .footer-about{
    color: white;
  }


/* Releases */
.releases {
    background: linear-gradient(to bottom, #291528, #3A3E3B);
}

.releases-header {
    height: 55vh;
    background-image: url("/cs008/fauna/images/release-2.jpeg");
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: white;
    opacity: 80%;
    font-size: xx-large;
}

.releases-container {
    height: 50vh;
    display: flex;
    justify-content: center;
    padding: 5em;
}
.card-cover{
    /* Needed to fix link */
    opacity: 100;
}
.album-card {
    display: flex;
    border: 3px solid #33333398;
    width: 35em;
    height: 18em;
    transition: background-color 0.5s ease-in-out;
    align-items: center;
    box-sizing: border-box;
    margin: 20px;
    min-width: 35em;
}

  .album-card figure {
    margin: 0;
  }
  
  .album-card img {
    height: 15em;
    padding: 20px;
  }
  
  .album-card .card-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    opacity: 80%;
    text-align: center;
  }
  
  .album-card .card-details h2 {
    margin: 0 0 0.5rem;
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: white;
    opacity: 80%;
    text-align: center;
    
  }
  
  .album-card p {
    margin: 0;
    color: white;
    opacity: 80%;
  }
  
  .album-card:hover {
    background-color: rgba(0, 0, 0, 0.445);
  }


  h3 {
    opacity: 80%;
  }




h1 {
  opacity: 80%;
}